@import './reset';
@import './variables/global';
@import './themes/light';
@import './themes/dark';
@import './themes/orange';

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    border: 3px solid var(--primary-color);
    border-radius: 20px;
    background-color: var(--inverted-primary-color);
}
