.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font: var(--font-m);
}

.content {
    max-width: 60%;
    padding: 20px;
    border-radius: 12px;
    background-color: var(--bg-color);
    transition: transform 300ms;
}

.overlay {
    transition: opacity 300ms;
}

.closed {
    z-index: var(--hidden-z-index);

    .overlay {
        opacity: 0;
    }

    .content {
        transform: scale(0);
    }
}

.closeInProgress {
    z-index: var(--modal-z-index);

    .overlay {
        opacity: 0;
    }

    .content {
        transform: scale(0);
    }
}

.opened {
    z-index: var(--modal-z-index);
    pointer-events: auto;

    .overlay {
        opacity: 1;
    }

    .content {
        transform: scale(1);
    }
}

.openInProgress {
    z-index: var(--modal-z-index);

    .overlay {
        opacity: 1;
    }

    .content {
        transform: scale(1);
    }
}
