.sidebar {
    --primary-color: var(--inverted-primary-color);

    position: relative;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    flex-shrink: 0;
    background: var(--inverted-bg-color);
    transition: width 150ms;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.collapsedButton {
    position: absolute;
    right: -32px;
    bottom: 40px;
}

.items {
    margin-top: 20px;
    margin-left: 30px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .link span {
        width: 0;
        opacity: 0;
        transition: display 0.2s, opacity 0.2s;
    }
}
