.dropdown {
    position: relative;
}

.button {
    padding: 0;
    border: none;
    margin: 0;
    background: none;
    cursor: pointer;
    outline: none;
}

.menu {
    position: absolute;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background: var(--card-bg);
    list-style-type: none;
}

.item {
    width: 100%;
    padding: 10px 25px;
    border: none;
    background: none;
    color: var(--primary-color);
    cursor: pointer;
    outline: none;

    &:first-child {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    &:last-child {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

.active {
    background: var(--inverted-primary-color);
}
