.code {
    position: relative;
    overflow: auto;
    padding: 20px;
    border: 1px solid var(--primary-color);
    background: var(--code-bg);
}

.copyButton {
    position: absolute;
    top: 20px;
    right: 20px;
}
