.icon {
    fill: var(--primary-color);
}

.stroke {
    fill: none;
    stroke: var(--primary-color);
}

.inverted {
    fill: var(--inverted-primary-color);
}

.invertedStroke {
    fill: none;
    stroke: var(--inverted-primary-color);
}
