.profileCard {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    gap: 30px;
}

.header {
    display: flex;
}

.text {
    flex-grow: 1;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
